blinker
cachelib
certifi
charset-normalizer
click
colorama
cs50
Flask
Flask-Session
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
pytz==2023.3.post1
requests
SQLAlchemy
sqlparse
termcolor
urllib3
Werkzeug
gunicorn
